/* Show it is fixed to the top */
body {
    /*padding-top: 4.5rem;*/
    padding-top: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

footer {
    background: #f5f1e7;
}

.navbar-dark {
    background: #14768b;
}

#contacts {
    background: #14768b;
    color: white;
}

#btn-contacts {
    background-color: #e37914;
    color: white;
}

.btn-carousel, .btn-tr, .btn-lk, .btn-auth {
    background-color: #14768b;
    color: white;
}

.btn-carousel:hover, .btn-tr:hover, .btn-lk:hover, .btn-auth:hover {
    background-color: #0a467e;
    transition: background-color 0.3s;
    color: white;
}


/* .carousel-inner img {
    filter: brightness(40%);
} */

#carousel-1 {
    background-image: url("../img/carousel1.jpg");
    background-size: cover;
}

#carousel-2 {
    background-image: url("../img/carousel2.jpg");
    background-size: cover;
}

#carousel-3 {
    background-image: url("../img/carousel3.jpg");
    background-size: cover;
    background-blend-mode: hard-light;
}

.text-carousel-h1 {
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: #f5f1e7
}

.text-carousel-p {
    color: #f5f1e7;
    font-size: large;
    text-shadow: 1px 1px 2px black
}

#btn-contacts:hover {
    background-color: #b35f10;
    transition: background-color 0.3s;
}

a {
    color: #14768b;
    text-decoration-color: #14768b;
}

#info {
    background-color: #f5f1e7;
}

.img-small {
    width: 20%;
}

.card {
    height: 18rem;
    --bs-card-title-color: #25204e;
    background-color: #f5f1e7;
}

.card:hover {
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.09);
    border: 1px solid transparent;
    text-decoration: none;
}

textarea {
    border-radius: 0px;
    height: 100% !important;
}

label.error {
    display: none !important;
}

form input.error {
    border-color: red;
    box-shadow: 0px 0px 10px red;
}

#about_theater,
#reg,
#auth,
#cart,
#card {
    background-color: #f5f1e7;
}

.icons div {
    line-height: 1rem;
}

.hstack {
    align-items: flex-start;
}

.form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn-block {
    --mdb-btn-margin-top: 0.5rem;
    display: block;
    width: 100%;
}

.form-outline .form-control {
    min-height: auto;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background: rgba(0, 0, 0, 0);
    transition: all .2s linear;
}

input[aria-invalid="true"] {
    box-shadow: 0px 0px 5px red;
}

.notice {
    padding: 10px;
    border-radius: 6px;
    margin: 20px auto;
}

.notice.error {
    border: 2px solid #762c2c;
    background: #f3d3d3;
    color: #762c2c;
}

.notice.success {
    border: 2px solid #2c742b;
    background: #e1fee3;
    color: #2c742b;
}

#map {
    height: 30rem;
}

[class*="copyrights-pane"] {
	display: none !important;
}
