/* Show it is fixed to the top */
body {
    /*padding-top: 4.5rem;*/
    padding-top: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

footer {
    background: #f5f1e7;
}

.navbar-dark {
    background: #14768b;
}

#contacts {
    background: #14768b;
    color: white;
}

#btn-contacts {
    background-color: #e37914;
    color: white;
}

.btn-carousel {
    background-color: #14768b;
    color: white;
}

.btn-carousel:hover {
    background-color: #0a467e;
    transition: background-color 0.3s;
}


/* .carousel-inner img {
    filter: brightness(40%);
} */

#carousel-1 {
    background-image: url("../img/carousel1.jpg");
    background-size: cover;
}

#carousel-2 {
    background-image: url("../img/carousel2.jpg");
    background-size: cover;
}

#carousel-3 {
    background-image: url("../img/carousel3.jpg");
    background-size: cover;
    background-blend-mode: hard-light;
}

.text-carousel-h1 {
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: #f5f1e7
}

.text-carousel-p {
    color: #f5f1e7;
    font-size: large;
    text-shadow: 1px 1px 2px black
}

#btn-contacts:hover {
    background-color: #b35f10;
    transition: background-color 0.3s;
}

footer a {
    color: #14768b;
    text-decoration-color: #14768b;
}